{% extends "blog/base.html" %}
{% block content %}
    <h1>About Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ab dolor, unde distinctio eligendi alias doloribus, quae quas, cumque doloremque deserunt iste aspernatur! Beatae cumque inventore illum in amet quos?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit est harum rem praesentium eos sint hic culpa aspernatur ad? Quam nam labore voluptates ullam aspernatur at, nobis exercitationem neque iure.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nostrum fuga sed ex excepturi vero, sint accusamus corrupti voluptates et ab vel, facere, dolores quis qui nisi. Rem, asperiores a?
    </p>
{% endblock content %}